.search {
  width: 50%;
  background-color: black;
  height: 6vh;
  border-radius: 15px;
  border: none;
  text-align: center;
  outline: none;
  margin-top: -12px;
  display: inline;
  color: white;
  font-size: 22px;
  display: block;
  margin: 25px auto;
  -webkit-box-shadow: 6px 6px 22px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 22px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 22px 0px rgba(0, 0, 0, 0.75);
}
img {
  object-fit: contain;
}
.movieContainer {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-column-gap: 25px;
  grid-row-gap: 18px;
  margin-top: 22px;
}
img {
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  object-fit: contain;
}
.card {
  text-align: center;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  -webkit-box-shadow: 6px 6px 13px 9px rgba(171, 162, 171, 1);
  -moz-box-shadow: 6px 6px 13px 9px rgba(171, 162, 171, 1);
  box-shadow: 6px 6px 13px 9px rgba(171, 162, 171, 1);
}
