body {
  background: linear-gradient(90deg, #e97b91 0%, #3f5efb 100%);
}
.form{
  background-color: white;
  padding: 12px;
  border-radius: 12px;
 
  width: 30vw;

}
h1{
  text-align: center;
}
label{
  margin-left: 25px;
}
input{
  display: block;
  margin: 7px auto;
    border: none;
  border-bottom: 2px solid rgb(223, 218, 218);
  margin-bottom: 8px;
  background-color: none;
  display: block;
  &:focus {
    outline: 0 !important;
  }
}
p{
  color: red;
  margin: 1px 0px;
  padding: 2px;
}
.green{
  color: green;
}
.hide {
  display: none;
}
.show {
  display: block;
}
//
.redUnderLine {
  border: 1px solid red;
}
.greenUnderLine {
  border: 1px solid green;
}
button {
  outline: none;
  border: none;
  display: block;
  background: linear-gradient(90deg, #e97b91 0%, #3f5efb 100%);
  margin: auto;
  width: 80%;
  padding: 5px 12px;
  border-radius: 8px;
  color: white;
  font-size: 15px;
}
//  Home
.logout{
  width: 100%;
  
  .btn2{
    width: 10%;
    margin-bottom: 20px;
    display: block;
    color: black;
    background: white;
  }


  
}
.data{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.card{
  height: 20vh;
width: 30%;

background: white;
color: black;
  border: 1px solid rgb(77, 73, 73);
  padding: 12px;
text-align: center;
 
}
@media screen and (max-width: 500px) {
.form{
  width: 90vw;

}
.logout{
  // width: 100%;
  
  .btn2{
    width: 30%;
    margin-bottom: 20px;
    display: block;
    color: black;
    background: white;
  }
    
}
.data{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.card{

  height: 20vh;
width: 90%;
padding: 12px;
text-align: center;
background: white;
color: black;
  border: 1px solid rgb(77, 73, 73);
 
}
}
// animation
p,.errors{
  animation: animate 1s 1;
}
@keyframes animate{
  0%{
opacity: 0;
  }
  100%{
opacity: 1;
  }
}





